.Header {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}

.logoTitle {
  /* margin-right: 20vw; */
  margin-left: 2vw;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vw;
  margin-right: 3vw;
}

.userLogo {
  font-size: "2em" !;
  cursor: pointer;
}

.Overview {
  margin-top: 10vh;
  margin-left: 2vw;
  margin-bottom:1vh;
}

.Overview-cards {
  margin-top: 6vh;
  margin-right: 2vw;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.DeviceMonitoring {
  margin-top: 5vh;
  margin-left: 2vw;
}

.DeviceList {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.ChartsTitles {
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

.Charts {
  display: flex;
  justify-content: space-around;
}
.Heatmap{
  
  margin-left: 22%;
  
}

.HeatmapContainer{
  margin-top: 3vh;
}

.moderustic-Title {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

